<section ng-controller="mainPage">
    <button id="navigation-toggle" ng-click="sidevar()">
        <span class="animated {{sidevar_bar}}"></span>
        <span class="animated {{sidevar_bar}}"></span>
    </button>
    <section class="header">
        <div class="top-navbar-mobile">
            <img src="../assets/stuart-logo.png" alt="">
            <div class="top-navbar-btn">Home</div>
        </div>
        <div class="top-navbar-descktop">
            <img src="../assets/stuart-logo.png" alt="">
            <div class="top-navbar-btn">
                <ul>
                    <li>SME</li>
                    <li>Corporate</li>
                    <li>Products</li>
                </ul>
            </div>
            <div class="top-navbar-right">
                Become a courier  <a class="btn btn-blue btn-signin" href="/es/download">Sign in</a>
            </div>
        </div>
        <div class="title">
            <h1>Deliver fast, pay less!</h1>
            <h2>On-demand delivery for businesses</h2>
        </div>
        <div class="btn-container">
            <a class="btn btn-blue btn-download-app" href="#">Get started</a>
        </div>
    </section>
    <section class="mobile-app-container">
        <img style="margin-top: 1em" src="../assets/phone-icon.png" alt="">
        <p class="mobile-text">
            Stuart for iOS and Android. Download de app to request, track and manage your deliveries. <a href="#">Learn more <img src="../assets/more-icon.png" class="arrow-icon"></img></a>
        </p>
    </section>
    <section class="photo-title">
            <h1>Why businesses love Stuart</h1>
    </section>
    <section class="photo-section-mobile">

        <div class="photo-item">
            <div>
                SME
            </div>
            <p>
                lorem ipsun asdfadf  asdfñf añsfñ asdflñ sñldfasl sñadfkj ñlkj ñaskdjfdañsl ñlsadfjñs
            </p>
        </div>
        <div class="photo-item">
            <div>
                SME
            </div>
            <p>
                lorem ipsun asdfadf  asdfñf añsfñ asdflñ sñldfasl sñadfkj ñlkj ñaskdjfdañsl ñlsadfjñs
            </p>
        </div>

    </section>
    <section class="photo-section-desktop">

        <div class="photo-column">
            <div class="photo-item"></div>
            <h1>
                SME
            </h1>
            <p>
                lorem ipsun asdfadf  asdfñf añsfñ asdflñ sñldfasl sñadfkj ñlkj ñaskdjfdañsl ñlsadfjñs
            </p>
            <a href="#">Learn more</a>
            <img src="../assets/more-icon.png" class="arrow-icon"></img>
        </div>
        <div class="photo-column">
            <div class="photo-item"></div>
            <h1>
                SME
            </h1>
            <p>
                lorem ipsun asdfadf  asdfñf añsfñ asdflñ sñldfasl sñadfkj ñlkj ñaskdjfdañsl ñlsadfjñs
            </p>
            <a href="#">Learn more</a>
            <img src="../assets/more-icon.png" class="arrow-icon"></img>
        </div>

    </section>
    <section class="show-sidenav animated {{sidevar_class}}">
        <a class="btn btn-blue btn-signin-sidevar" href="#">Sign in</a><!--<span ng-click="display= 'display:none'" class="sidevar-close"><img src="../assets/close-icon.png" alt=""></span>-->

        <div class="divider"></div>
        <lu class="sidevar-list">
            <li>Home</li>
            <li>SME</li>
            <li>Corporate</li>
            <li>API</li>
            <li>Mobile apps</li>
            <li>Dashboard</li>
            <li class="divider-li"></li>
            <li>Become a courier</li>
            <li>Careers</li>
            <li>About</li>
        </lu>
    </section>

</section>